<p>
  <strong>Question:</strong>
  <%= @question.description %>
</p>
<p>
	<strong>Answers</strong>
</p>
<% unless @question.answers.empty? %>
	<ul class="list-groups">
	<% @question.answers.each do |answer| %>
		<li class="list-group-item"><%= answer.description %></li>
	<% end %>
	</ul>
<% else %>
	<div class="alert alert-warning">No answers for this question yet.</div>
<% end %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %> |
<%= link_to 'Home', root_path %>
