<div class="col-md-3">
	<ul class="nav">
		<li><%= link_to "Questions", :controller => :questions, :action => :index %></li>
		<li><%= link_to "Categories", :controller => :categories, :action => :index %></li>
		<li><%= link_to "Answers", :controller => :answers, :action => :index %></li>
		<li><%= link_to "Comments", :controller => :comments, :action => :index %></li>
		<li><%= link_to "Votes", :controller => :votes, :action => :index %></li>
	</ul>
</div>