<p>
  <strong>Yes:</strong>
  <%= @vote.yes %>
</p>

<p>
  <strong>No:</strong>
  <%= @vote.no %>
</p>

<p>
  <strong>Question:</strong>
  <%= @vote.question_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @vote.user_id %>
</p>

<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
